fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic[email]==2.9.2
stripe==11.1.0
python-dotenv==1.2.3
psycopg[binary]==3.2.3
psycopg-pool==3.2.4
google-generativeai==0.8.3
qrcode[pil]==7.4.2
python-multipart==0.0.32
PyMuPDF==1.24.13
boto3==1.35.0
